@using Microsoft.AspNetCore.Identity
@inject SignInManager<Timesheet.Models.Entities.User> SignInManager
@inject UserManager<Timesheet.Models.Entities.User> UserManager

@model IEnumerable<Timesheet.Models.ViewModels.DepartmentViewModel>

@{
    ViewData["Title"] = "Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Departments</h1>

@if (this.User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create new</a>
    </p>
}
<br />
<hr />
<table class="table table-hover">
    <thead class="table-primary">
        <tr>
            <th>Department Name</th>
            <th>Department Manager</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserFullName)
                </td>
                <td>

                    @if (this.User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (this.User.IsInRole("Administrator"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id"> | Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
